@font-face {
    font-family: 'Ostrich Sans';
    src: url(../media/resources/OstrichSans-Bold.otf);
}
@font-face {
    font-family: 'Motorless';
    src: url(../media/resources/Motorless-Default.ttf);
}
@font-face {
    font-family: 'Motorless Drilled';
    src: url(../media/resources/Motorless-Drilled.ttf);
}
@font-face {
    font-family: 'Motorless Hammered';
    src: url(../media/resources/Motorless-Hammered.ttf);
}