* {
	box-sizing: border-box;
	position: relative;
}
h1, h2, h3, h4, h5, h6, ul, li, p {
    margin: 0;
    padding: 0;
}
body {
    background: blue;
    color: $mainTextColor;
    @include desktop {
        border: 2px solid blue;
    }
    @include tablet {
        border: 2px solid green;
    }
    @include phone {
        border: 2px solid red;
    }
	.flex-container, .container {
		width: 75%;
		height: 100%;
		margin: 0 auto;
	}
	a {
		text-decoration: none;
        outline: none;
	}
	
}
p {
    color: $mainTextColor;
    text-align: left;
}