$verticalFrameHeight: 70vh;
$menuHeight: 10vh;
$btnOffset: 3vh;
$menuBackground: url("media/images/f746b7a6.png");
$greyBackground: #777;
$btnBackground: #e37222;
$lightText: #fff;
$darkText: #000;
$desktopWidth: 1200px;
$tabletWidth: 768px;
$phoneWidth: 576px;
$mainTextColor: white;
$portfolioBackground: #7f8c8d;
$aboutBackground: #2c3e50;
