$verticalFrameHeight: 70vh;
$menuHeight: 10vh;
$btnOffset: 3vh;
$menuBackground: url("media/images/f746b7a6.png");
$greyBackground: #777;
$btnBackground: #e37222;
$lightText: #fff;
$darkText: #000;
@mixin flex-center {
    display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes focus {
    to {
        transform: scale(2) translate(0, -10px);
    }
}	
@font-face {
    font-family: 'Ostrich Sans';
    src: url(media/resources/OstrichSans-Bold.otf);
}
@font-face {
    font-family: 'Motorless';
    src: url(media/resources/Motorless-Default.ttf);
}
@font-face {
    font-family: 'Motorless Drilled';
    src: url(media/resources/Motorless-Drilled.ttf);
}
@font-face {
    font-family: 'Motorless Hammered';
    src: url(media/resources/Motorless-Hammered.ttf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}
body {
	.container {
		width: 75%;
		height: 100%;
		margin: 0 auto;
	}
	a {
		text-decoration: none;
	}
	
}
.floatingUp {
	position: fixed;
	top: 90vh;
	left: 10vh;
	width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid red;
    background: blue;
    z-index: 98;
    &:hover {
        i {
            animation: focus 1s infinite alternate;
        }
    }
    a {
    	color: yellow;
		display: block;
        font-size: 2em;
    }
}
header {
    @include flex-center;
	height: calc(100vh - #{$menuHeight});
	max-height: calc(100vh - 50px);
	z-index: 99;
    background: url("media/images/billy-huynh-278252.jpg") center/cover fixed black;
	.frame {
        @include flex-center;
		width: $verticalFrameHeight * (16 / 9);
        height: $verticalFrameHeight;
        border: 5px dashed whitesmoke;
        padding: 5%;
            .slogan {
                @include flex-center;
                h1 {
                    font-size: 10em;
                    color: $lightText;
                    font-family: 'Motorless Drilled';
                    font-weight: normal;
                }
                h2 {
                    font-size: 4em;
                    color: $lightText;
                    text-align: center;
                    font-family: 'Motorless';
                }
		}
	}
}
.menuBackground {
	background: $menuBackground;
	z-index: 1;
	width: 100%;
	height: $menuHeight;
	position: fixed;
	top: 0;
}
nav {
	position: sticky;
	top: $btnOffset;
	height: $menuHeight;
	min-height: 50px;
	text-align: center;
	background: $menuBackground;
	z-index: 100;
	box-shadow: 0px 11px 18px -8px rgba(0,0,0,1);
	ul {
		list-style-type: none;
		display: inline-block;
		width: 100%;
		transform: translateY(-$btnOffset);
		li {
			display: inline-block;
			width: 30%;
			border-radius: 15px;
			border: 2px solid $btnBackground;
			box-shadow: 0 0 15px 0 #000;
			margin: 0 10px;
			background-size: 300%;
			background-position: 100% 0;
			transition: transform .5s, background 1s;;
			&:hover {
				box-shadow: inset 0 0 15px 0 #000;
				transform: translateY(5px);
				background-image: linear-gradient(135deg, $btnBackground 50%, transparent 50%);
				background-position: 0 100%;
			}
			a {
				display: block;
				text-decoration: none;
				color: $btnBackground;
				line-height: $menuHeight;
				font-weight: bold;
				font-size: 2em;
				transition: color 1s;
				&:hover {
				color: $lightText;
				}
			}
		}
	}
}
main {
	section {
		min-height: 100vh;
		height: 100%;
		width: 100%;
		h1 {
			position: sticky;
			top: calc(#{$menuHeight} + #{$btnOffset} + 2vh);
			color: #5d6673;
			text-shadow: 0 0 5px rgba(255,255,255,1);
			font-size: 3em;
            text-align: right;
		}
		.container {
			min-height: 100vh;
		}
		&.about {
			background-color: #a6a7a5;
			background-image: url("media/images/5895dac6.png");
			background-attachment: fixed;
		}
		&.portfolio {
			background-color: blue;
			background-attachment: fixed;
		}
		&.contact {
			background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/NO4E69VPDP.jpg");
			background-attachment: fixed;
			background-size: cover;
		}
	}
}
footer {
	background-color: black;
	padding: 20px;
	color: #575757;
}