@import 'animations';
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'global';

#loading-page {
  @include flex-center;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  z-index: 99;
  background: url('../media/images/billy-huynh-278252.jpg') center/cover fixed
    black;
  box-shadow: inset 0 -10px 5px -5px #000;
  .frame {
    @include flex-center;
    width: $verticalFrameHeight * (16 / 9);
    height: $verticalFrameHeight;
    border: 5px dashed $mainTextColor;
    border-top: 0;
    padding: 5%;
    .frame-text {
      position: absolute;
      top: -25px;
      color: white;
      width: 100%;
      text-align: center;
      font-size: 2em;
      &::before {
        content: '';
        width: 40%;
        height: 0;
        border-top: 5px dashed $mainTextColor;
        float: left;
        position: relative;
        top: 25px;
      }
      &::after {
        content: '';
        width: 40%;
        height: 0;
        border-top: 5px dashed $mainTextColor;
        float: right;
        position: relative;
        top: 25px;
      }
      p {
        display: inline-block;
        width: 20%;
        text-align: center;
      }
    }
    .slogan {
      @include flex-center;
      h1 {
        font-size: 10em;
        color: $mainTextColor;
        font-family: 'Motorless Drilled';
        font-weight: normal;
      }
      h2 {
        font-size: 4em;
        color: $mainTextColor;
        text-align: center;
        font-family: 'Motorless';
      }
    }
  }
  i {
    &:last-of-type {
      display: none;
    }
    &:not(.fa-spin) {
      animation: focus 1s infinite alternate;
      color: $mainTextColor;
    }
  }
  &.loaded {
    animation: bounce 1s;
    i:last-of-type {
      display: inline-block;
    }
    i:first-of-type {
      display: none;
    }
    &.clicked {
      animation: slideout 1s forwards;
    }
  }
}
