@import '../../src/_sass/_animations';
@import '../../src/_sass/_fonts';
@import '../../src/_sass/_variables';
@import '../../src/_sass/_mixins';
@import '../../src/_sass/_global';

#loading-page {
  @include flex-center;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  z-index: 99;
  /* background: url('../media/images/billy-huynh-278252.jpg') center/cover fixed
    black; */
  background: $backgroundGrain,
    radial-gradient(
      circle at 100%,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.5) 75%
    ),
    darken($primaryBackground, 10%);
  box-shadow: inset 0 -10px 5px -5px #000;
  position: fixed;
  .frame {
    @include flex-center;
    width: $verticalFrameHeight * (16 / 9);
    height: $verticalFrameHeight;
    border: 5px dashed $mainTextColor;
    border-top: 0;
    padding: 5%;
    .frame-text {
      position: absolute;
      top: -25px;
      color: white;
      width: 100%;
      text-align: center;
      font-size: 2em;
      font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal,
        Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
      &::before {
        content: '';
        width: 40%;
        height: 0;
        border-top: 5px dashed $mainTextColor;
        float: left;
        position: relative;
        top: 25px;
      }
      &::after {
        content: '';
        width: 40%;
        height: 0;
        border-top: 5px dashed $mainTextColor;
        float: right;
        position: relative;
        top: 25px;
      }
      p {
        display: inline-block;
        width: 20%;
        text-align: center;
      }
    }
    .slogan {
      @include flex-center;
      h1 {
        font-size: 10em;
        color: $mainTextColor;
        font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal,
          Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
        font-weight: normal;
      }
      h2 {
        font-size: 4em;
        color: $mainTextColor;
        text-align: center;
        font-family: Lucida Console, Lucida Sans Typewriter, monaco,
          Bitstream Vera Sans Mono, monospace;
      }
    }
  }
  .loader {
    text-align: center;

    p {
      color: $mainTextColor;
      font-size: 2em;
    }
    .arrow {
      display: none;
    }
    .spinner {
      text-align: center;
      .ring {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
        div {
          box-sizing: border-box;
          display: block;
          position: absolute;
          width: 51px;
          height: 51px;
          margin: 6px;
          border: 6px solid #fff;
          border-radius: 50%;
          animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          border-color: #fff transparent transparent transparent;
          &:nth-child(1) {
            animation-delay: -0.45s;
          }
          &:nth-child(2) {
            animation-delay: -0.3s;
          }
          &:nth-child(3) {
            animation-delay: -0.15s;
          }
        }
      }
    }
  }
  &.loaded {
    animation: bounce 1s;
    .arrow {
      display: inline-block;
      i {
        animation: focus 1s infinite alternate;
      }
      color: $mainTextColor;
    }
    .spinner {
      display: none;
    }
    &.clicked {
      animation: slideout 1s forwards;
    }
  }
}
