@import '../../_sass/_variables';
@import '../../_sass/_global';

main {
  min-height: 100vh;
  position: relative;
  display: flex;
  background: $primaryBackground $backgroundDenim;
}
.container {
  border: 10px solid transparent;
  border-left: none;
  background: $secondaryBackground $backgroundGrain;
  background-clip: padding-box;
  padding: 5%;
  width: 85%;
  h1 {
    color: $secondaryTextColor;
  }
}
