@import '../../_sass/_mixins';
@import '../../_sass/_variables';

.about {
  .wrapper {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 5%;
    margin: 5%;
    img {
      float: left;
      max-width: 10%;
      border-radius: 50px;
      @include margin(0, 3%, 3%, 3%);
    }
    p {
      border-image: linear-gradient(to left top, white, transparent 30%) 1;
      border-width: 3px;
      border-style: solid;
      @include padding($top: 1rem, $bottom: 1rem, $right: 1rem);
    }
  }
}
