* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}
body {
  & > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
}
