@import '../../_sass/_variables';

header {
  padding: 2%;
  text-align: center;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: inherit;
  border-right: 5px groove $secondaryBackground;
  box-shadow: 15px 0px 10px -5px rgba(0, 0, 0, 0.75);
  z-index: 1;
  & > a {
    overflow: hidden;
    display: block;
    background: inherit;
  }
  .logo {
    padding: 30% 20%;
    background: url(https://scontent-waw1-1.xx.fbcdn.net/v/t31.0-8/904373_565675356805714_472165631_o.jpg?_nc_cat=0&oh=acd6427c685f814ffa96839adf1e2cef&oe=5BC03D07)
      center / cover;
    border-radius: 30px;
    border: 5px solid $secondaryBackground;
    transform: rotateZ(30deg) scale(0.8);
    transform-origin: bottom left;
    transition: all 0.5s;
    margin: 2%;
  }
  &:hover {
    .logo {
      transform: none;
      border-radius: 30px 10px;
      transition: all 1s;
    }
  }
  h2 {
    margin-top: 5%;
    color: $mainTextColor;
    padding-bottom: 5%;
    border-bottom: 1px solid $secondaryBackground;
    background: inherit;
    box-shadow: 0px -13px 5px -10px black;
  }
  nav {
    ul {
      margin-top: 15%;
      li {
        list-style-type: none;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 2%;
        margin: 10% 5%; /* 
        box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.8); */
        transition: all 0.5s;
        a {
          text-decoration: none;
          width: 100%;
          color: $btnTextColor;
          font-size: calc(#{$mainTextSize} * 1.5);
          font-weight: bold;
          display: block;
          padding: 10%;
          border: 1px dashed $btnBackground;
          border-radius: 10px;
          transition: all 0.5s, ease;
        }
        &:hover {
          transition: all 1s;
          background: $btnBackground;
          a {
            color: $secondaryTextColor;
            border: 1px dashed $primaryBackground;
            text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
              0px -1px 0px rgba(0, 0, 0, 0.7);
          }
          &:active {
            box-shadow: none;
            transform: scale(0.9);
            transition: all 0.1s;
            a {
              text-shadow: none;
              color: darken($secondaryTextColor, 10%);
              border: 1px groove darken($btnBackground, 10%);
            }
          }
        }
      }
    }
  }
  .social {
    i {
      color: $mainTextColor;
      font-size: 50px;
      margin: 10px;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .footer {
    color: $mainTextColor;
  }
}
